<!--header fragment-->
<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<div class="header">
    <div class="main">
        <a class="logo" th:href="@{/index}" title="Fly">在路上</a>
        <div class="nav">
            <a class="nav-this" th:href="@{/index}">
                <i class="iconfont icon-wenda"></i>交流
            </a>
            <a class="nav-this" th:href="@{/label}">
                <i class="iconfont icon-wenda"></i>标签
            </a>
        </div>

        <div class="nav-user">
        </div>
    </div>
</div>
<script th:inline="text">
    var quark_login_api = "[[${apiUrl}]]/user/api/login";
    var quark_getUser_api = "[[${apiUrl}]]/user/api/message/";
    var quark_logout_api = "[[${apiUrl}]]/user/api/logout";
    var quark_register_api = "[[${apiUrl}]]/user/api/register";
    var quark_register_send_email_code = "[[${apiUrl}]]/user/api/register/sendemailcode";
    var quark_upload_api = "[[${apiUrl}]]/upload/api/image";
    var quark_upload_icon_api = "[[${apiUrl}]]/upload/api/usericon/";
    var quark_posts_add_api = "[[${apiUrl}]]/posts/api/post";
    var quark_posts_get_api = "[[${apiUrl}]]/posts/api/get";
    var quark_posts_detail_api = "[[${apiUrl}]]/posts/api/detail/";
    var quark_reply_add_api = "[[${apiUrl}]]/reply/api";
    var quark_label_getall_api = "[[${apiUrl}]]/label/api";
    var quark_rank_posts_api="[[${apiUrl}]]/rank/api/topPosts";
    var quark_rank_users_api = "[[${apiUrl}]]/rank/api/newUsers";
    var quark_user_detail_api = "[[${apiUrl}]]/user/api/detail";
    var quark_user_update_api = "[[${apiUrl}]]/user/api/info/";
    var quark_user_update_psd_api = "[[${apiUrl}]]/user/api/password";
    var quark_label_posts_api = "[[${apiUrl}]]/posts/api/label/";
    var quark_webSocket_api = "[[${apiUrl}]]/api/quarkServer";
    var quark_notification_api="[[${apiUrl}]]/notification/api";
    var quark_chat_webSocket_api = "[[${socket_url}]]";

</script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/quark_api.js}"></script>
<script th:src="@{/js/sockjs.min.js}"></script>
<script th:src="@{/js/stomp.min.js}" ></script>
<script>
    //获取用户信息渲染页面
    var htm = "";
    $.get(quark_getUser_api+ getCookie(),function (data) {
        if (data.status == 200){
            var count = data.data.messagecount;
            if (count!=0){
                htm+="<a class='nav-message' href='../user/message' title=''>"+count+"</a>";
            }
            htm +="<a class='avatar' href='/user/home?id="+data.data.user.id+"'>"+
                "<img src='"+data.data.user.icon+"'>"+
                "<cite>"+data.data.user.username+"</cite>"+
                "</a>"+
                "<div class='nav'>"+
                "<a href='/user/set'><i class='iconfont icon-shezhi'></i>设置</a>"+
                "<a href='' onclick='logout()'><i class='iconfont icon-tuichu' style='top: 0; font-size: 22px;'></i>退了</a>"+
                "</div>";
        }else{
            htm ="<a class='unlogin' href='#'><i class='iconfont icon-touxiang'></i></a>"+
                "<span><a href='/user/login'>登入</a><a href='/user/register'>注册</a></span>";
        }

        $(".nav-user").append(htm);
    });

        //登出操作
        function logout() {

            $.post(quark_logout_api,{
                token: getCookie()
            },function (obj) {
               if (obj.status == 200){
                   deleteCookie();
                   location.href = "/index";
               }else{
                   layer.msg(obj.error,{icon:5});
               }
            });
        }


</script>
</div>